.user-item {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .user-name {
        font-size: 16px;
        color: black;
        font-weight: 700;
    }
    
    .user-actions {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        button {
            padding: 8px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            font-size: 14px;

            &.block-button {
                background-color: #3498db;
                color: white;

                &:hover {
                    background-color: #2980b9;
                }
            }

            &.delete-button {
                background-color: #e74c3c;
                color: white;

                &:hover {
                    background-color: #c0392b;
                }
            }
        }
    }
}

.user-item.user-item--disabled {
    background-color: rgb(119, 119, 119);
}