.form-input {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 32px;
    transition: border-color 0.3s ease;
  
    &:focus {
      border-color: #3498db;
    }
  }
  